In [3]:
import os
import numpy as np
import pandas as pd
import scipy
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

import great_expectations as ge

import warnings
warnings.filterwarnings("ignore")

In [7]:
df1 = ge.read_csv("../data/example_data.csv")
df2 = ge.read_csv("../data/example_data_for_validation.csv")

In [8]:
df1

   Age  Income Prior_Claims
0   23   25000          Yes
1   34   34000          Yes
2   67  100000           No
3   34  102000           No
4   56   78000          Yes
5   34   34000           No
6   56   67888          Yes
7   67   45612           No
8   45   12345          Yes
9   34   45000           No

In [16]:
df1.expect_column_values_to_be_in_set('Prior_Claims', ['Yes', 'No'])

{
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "meta": {},
  "result": {
    "element_count": 10,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  }
}

In [ ]:
class DataDriftDetection(object):
    """
    """
    def __init__(self, past_data, new_data):
        self.past_data = ge.read_csv(past_data)
        self.new_data = ge.read_csv(new_data)

In [ ]:
data_drift = DataDriftDetection(df1, df2)